
*{
  margin: 0%;
  padding: 0%;
}
body{
  width:1380px;
  margin: 0 auto;
  background-color: azure;
}
.margin{
  width:1280px;
  margin: 0 auto;
  margin-top: 80px;
}
 /* added banner section styles */

.banner-box{
border-radius: 24px;
background: rgb(198, 228, 214);
height: 560px;
display: flex;
justify-content: center;
align-items: center;
justify-content: space-evenly;


}

.banner-box-title h4{
  color: rgba(14, 14, 14, 0.5);
font-family: Fira Sans;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
}
.banner-box-title p{
  color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 56px;
line-height: 67px;
letter-spacing: 0%;
text-align: left;
width: 622px;

}
.banner-box-title input {
width: 270px;
height: 56px;
padding: 17px 34px 17px 34px;
margin: 24px 0px;
border-radius: 8px;
text-align: center;
background: rgb(0, 106, 80);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
color: rgb(255, 255, 255);
border: none;
}
.banner-box-title input:hover{
  background-color: blue;
}

 /* The Vision of Future styles */

 .vision-title h1{
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;

 }

 .vision-title p{
  color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
 }

/* vision image-box syles */

.image-1{
width: 410px;
height: 325px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 24;
padding: 32px;;

box-sizing: border-box;
border-radius: 16px;
background: rgba(84, 144, 245, 0.2);
}
.image-1 h2{
  color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
margin:15px 0px 15px 0px;
letter-spacing: 0%;
text-align: left;

}
.image-1 p{
  color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;

letter-spacing: 0%;
text-align: left;
}

.image-1  input{
width: 122px;
height: 41px;
display: flex;
justify-content: center;
align-items: center;
padding: 11px 20px 11px 20px;
margin: 24px 0px;
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
border-radius: 8px;
background: rgb(84, 144, 245);
border: none;
}
.image-1 input:hover{
  background-color: aqua;
}

.image-2{
width: 410px;
height: 325px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 24;
padding: 32px;;

box-sizing: border-box;
border-radius: 16px;

background: rgb(198, 228, 214);;
}
.image-2 h2{
  color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
margin:15px 0px 15px 0px;
letter-spacing: 0%;
text-align: left;

}
.image-2 p{
  color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;

letter-spacing: 0%;
text-align: left;
}

.image-2 input{
width: 122px;
height: 41px;
display: flex;
justify-content: center;
align-items: center;
padding: 11px 20px 11px 20px;
margin: 24px 0px;
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
border-radius: 8px;
background: rgb(9, 161, 92);
border: none;
}
.image-2 input:hover{
  background-color: rgb(206, 177, 47);

  
}

.image-3{
width: 410px;
height: 325px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 24;
padding: 32px;;
box-sizing: border-box;
border-radius: 16px;
background: rgb(247, 235, 207);
}
.image-3 h2{
  color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
margin:15px 0px 15px 0px;
letter-spacing: 0%;
text-align: left;

}
.image-3 p{
  color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;

letter-spacing: 0%;
text-align: left;
}

.image-3  input{
width: 122px;
height: 41px;
display: flex;
justify-content: center;
align-items: center;
padding: 11px 20px 11px 20px;
margin: 24px 0px;
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
border-radius: 8px;
background: rgb(255, 194, 57);
border: none;
}
.image-3 input:hover{
  background-color: aqua;
}
.vision-image-box{
  display: flex;
  gap: 24px;
  margin-top: 15px;
}

/* Added the Recent news Styles */

.image-title-box{
display: flex;
border-radius: 24px;

background: rgb(255, 255, 255);
height: 402px;
align-items: center;
padding: 48px;
gap: 50px;


}

.image-title-box-image img{
width: 408px;
height: 306px;

border-radius: 24px;
}

.image-title-box-title{
  width: 600px;
  height: 296px;
}
.image-title-box-title h1{
  color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
line-height: 38px;
text-align: left;
}
.image-title-box-title img{
width: 134px;
height: 40px;
margin: 12px 0px;

}
.image-title-box-title p{
  color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
width: 700px;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
text-align: justify;
}

.image-title-box-title input{
width: 139px;
height: 48px;
padding: 13px 26px 13px 26px;
margin: 32px 0px;
border: none;
border-radius: 8px;
background: rgb(0, 106, 80);
color: rgb(255, 255, 255)
}

.image-title-box-title input:hover{
  background-color: brown;
}
.news-section-1{
  margin-top: 24px;
}

.news-section-1 .image-title-box{
  justify-content: space-between;

}
/* Donate-title section styles */

.Donate-container .Donate-title{

padding: 0px 104px 0px 104px;
}
.Donate-title h1{
  text-align: center;
  margin-top: 24px;
  color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;

}

.Donate-title{
  margin-bottom: 32px;
  color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;

}

.taka-box{
  padding: 32px 104px 32px 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.taka-1 form input{
width: 240px;
height: 128px;
padding: 40px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
border: none;
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
}
.taka-1 form input:hover{
  background-color: antiquewhite;
}
.taka-2 form input{
width: 240px;
height: 128px;
padding: 40px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(134, 240, 212);
border: none;
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
}
.taka-2 form input:hover{
  background-color: rgb(238, 186, 118);
}
.taka-3 form input{
width: 240px;
height: 128px;
padding: 40px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(237, 232, 232);
border: none;
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
}
.taka-3 form input:hover{
  background-color: rgb(76, 68, 56);

}
.taka-4 form input{
width: 240px;
height: 128px;
padding: 40px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(240, 170, 170);
border: none;
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
}
.taka-4 form input:hover{
  background-color: rgb(124, 79, 239);

}

.other-amout form input{
  display: block;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
width: 1032px;
height: 64px;
padding: 20px 40px 20px 40px;
border: none;
border-bottom: 1px solid rgba(14, 14, 14, 0.15);
background: rgb(255, 255, 255);
color: rgba(14, 14, 14, 0.3);
font-family: Fira Sans;
font-size: 20px;
font-weight: 400;
margin-bottom: 32px;
}

.other-amout form input:hover{
  background-color: rgb(248, 193, 193);

}

.other-button form input{
display: block;
margin: 0 auto;
flex-direction: column;
justify-content: center;
align-items: center;
width: 151px;
height: 56px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.1);
border-radius: 8px;
background: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;

}

.other-button form input:hover{
  background-color: rgb(158, 158, 156);

}

/* CHALLENGES Section styles */

.dr-yunus{
 margin-top: 24px;
padding: 48px 24px 48px 24px;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background-image: url(../assets/quote-bg.png);
background-repeat: no-repeat;
background-position-x: 22px;
background-position-y: 22px;
border: none;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255),url(../assets/quote-bg.png);

}
.dr-yunus p{
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
margin-bottom: 10px;
}
.dr-yunus h1{
  color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 10px;
}

.challanges{
  margin: 0 auto;
  border-radius: 24px;
background: rgb(198, 228, 214);
height: 395px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 50px;


}
.challanges .Donate-title{
  padding: 80px 100px 0px;

}
.Donate-title p{
  width: 622px;
height: 48px;
margin-top: 16px;
}

.suscribe-form{
  display: flex;
  gap: 0;

}
.suscribe-form input{
  border: none;
  padding: 10px 0;
width: 600px;
height: 55px;
padding: 18px 40px 18px 40px;
margin: 0px 0px;
border-radius: 8px 0px 0px 8px;
background: rgb(255, 255, 255);
}
.suscribe-form button{
  border: none;
  padding: 8px 0;
width: 150px;
border-radius: 0px 8px 8px 0px;
background: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
}
.suscribe-form button:hover{
  background-color: cadetblue;
}
.para{
margin-top: 24px;
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 25px;

}

.span-title{
  margin: 24px;
  color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: center;
}

/* bangladesh-2.0 */
.bangladesh-2-0{
text-align: center;
text-transform: capitalize;
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
margin-bottom: 24px;


  
}
.bangladesh-2-0 img{
  padding: 10px;
 
}

 




